Repository aRustyDev/prompts: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-empty-files, validate-dependencies, enforce-naming, check-module-size, validate-frontmatter, security-scan

check-empty-files:
  name: Check for empty files
  entry: .claude/hooks/check-empty-files.sh
  language: script
  pass_filenames: true
  description: Prevents committing empty module files

validate-dependencies:
  name: Validate module dependencies
  entry: .claude/hooks/validate-dependencies.sh
  language: script
  pass_filenames: true
  description: Ensures all module dependencies exist

enforce-naming:
  name: Enforce naming conventions
  entry: .claude/hooks/enforce-naming.sh
  language: script
  pass_filenames: true
  description: Checks file and module naming standards

check-module-size:
  name: Check module size limits
  entry: .claude/hooks/check-module-size.sh
  language: script
  pass_filenames: true
  description: Ensures modules stay under 200 lines

validate-frontmatter:
  name: Validate YAML frontmatter
  entry: .claude/hooks/validate-frontmatter.sh
  language: script
  pass_filenames: true
  description: Checks required frontmatter fields

security-scan:
  name: Security scan for secrets
  entry: .claude/hooks/security-scan.sh
  language: script
  pass_filenames: true
  description: Prevents hardcoded secrets

feat: modularize command.md into 5 focused modules
  .claude/commands/command.md
  .claude/commands/command/.meta.md
  .claude/commands/command/_shared.md
  .claude/commands/command/init.md
  .claude/commands/command/process-detection.md
  .claude/commands/command/review.md
  .claude/commands/command/update.md
Due: check-empty-files, validate-dependencies, enforce-naming, check-module-size, validate-frontmatter, security-scan

feat: modularize plan.md into 6 focused modules
  .claude/commands/plan.md
  .claude/commands/plan/.meta.md
  .claude/commands/plan/_core.md
  .claude/commands/plan/analysis.md
  .claude/commands/plan/cleanup.md
  .claude/commands/plan/design.md
  .claude/commands/plan/discovery.md
  .claude/commands/plan/implementation.md
Due: check-empty-files, validate-dependencies, enforce-naming, check-module-size, validate-frontmatter, security-scan

feat: modularize report.md into 7 focused modules
  .claude/commands/report.md
  .claude/commands/report/.meta.md
  .claude/commands/report/_interactive.md
  .claude/commands/report/_templates.md
  .claude/commands/report/audit.md
  .claude/commands/report/bug.md
  .claude/commands/report/feature.md
  .claude/commands/report/improvement.md
  .claude/commands/report/security.md
Due: check-empty-files, validate-dependencies, enforce-naming, check-module-size, validate-frontmatter, security-scan

docs: add architecture implementation documentation
  architecture-guidelines-complete-plan.md
  architecture-implementation-status.md
  architecture-implementation-summary.md
  architecture-modularization-plan.md
  architecture-modularization-tracking.md
  dependency-check-report.md
  validation-report.md
Due: none

feat: add architecture analysis and validation tools
  analysis/command-split-analysis.md
  analysis/dependency-mapping.md
  analysis/final-module-structure.md
  analysis/plan-split-analysis.md
  analysis/report-split-analysis.md
  architecture-completion-dashboard.md
  architecture-completion-plan.md
  architecture-implementation-tasks.md
  fix-architecture-violations.sh
  validate-architecture.sh
Due: none

fix: refactor plan command modules to meet 200-line limit
  .claude/commands/plan/_core.md
  .claude/commands/plan/cleanup.md
  .claude/commands/plan/design.md
  .claude/commands/plan/implementation.md
  .claude/commands/plan/template-manager.md
  .claude/commands/plan/templates/error-codes.yaml
  .claude/commands/plan/templates/session-structure.yaml
  .claude/commands/plan/templates/structure-examples.md
  .claude/commands/plan/utilities.md
Due: check-empty-files, validate-dependencies, enforce-naming, check-module-size, validate-frontmatter, security-scan

fix: extract plan command scripts to reduce module sizes
  .claude/commands/plan/scripts/backup_artifacts.sh
  .claude/commands/plan/scripts/cleanup_github.sh
  .claude/commands/plan/scripts/cleanup_local.sh
  .claude/commands/plan/scripts/cleanup_session.sh
  .claude/commands/plan/scripts/error_handling.sh
  .claude/commands/plan/scripts/execute_plan.sh
  .claude/commands/plan/scripts/session_management.sh
Due: enforce-naming, security-scan

fix: extract report command templates to meet 200-line limit
  .claude/commands/report/_bug_templates.md
  .claude/commands/report/_feature_templates.md
  .claude/commands/report/_improvement_templates.md
  .claude/commands/report/_security_templates.md
  .claude/commands/report/bug.md
  .claude/commands/report/cvss-scoring.md
  .claude/commands/report/feature.md
  .claude/commands/report/improvement.md
  .claude/commands/report/security.md
Due: check-empty-files, validate-dependencies, enforce-naming, check-module-size, validate-frontmatter, security-scan

chore: update report command core modules
  .claude/commands/report/_interactive.md
  .claude/commands/report/_templates.md
  .claude/commands/report/audit.md
Due: check-empty-files, validate-dependencies, enforce-naming, check-module-size, validate-frontmatter, security-scan

feat: add engine templates for future implementation
  engine/templates/commands/plan/_core.md
  engine/templates/commands/plan/analysis.md
  engine/templates/commands/plan/cleanup.md
  engine/templates/commands/plan/design.md
  engine/templates/commands/plan/implementation.md
Due: none

test: complete Phase 1 testing and migration (Day 6-7)
  .claude/archives/phase1-pre-modular/command.md.20250709
  .claude/archives/phase1-pre-modular/plan.md.20250709
  .claude/archives/phase1-pre-modular/report.md.20250709
  ARCHITECTURE.md
  benchmark-performance.sh
  migration-guide-phase1.md
  performance-improvement-report.md
  phase1-test-results.md
  test-modular-loading.sh
  validate-yaml-frontmatter.py
  validation-report-final.md
  verify-dependencies.sh
Due: enforce-naming, security-scan

test: complete PR #125 remaining items
  integration-test-commands.sh
  integration-test-results.md
  manual-test-checklist.md
  manual-test-results.md
  phase1.5-plan.md
  validate-naming-conventions.sh
Due: none

feat(patterns): add pattern analysis tool for identifying common patterns
  analyze-patterns.py
Due: none

feat(patterns): add pattern analysis results and reports
  analysis/error-patterns.txt
  analysis/git-patterns.txt
  analysis/pattern-analysis-report.md
  analysis/validation-patterns.txt
Due: none

feat(patterns): add pattern framework directory structure and metadata
  .claude/core/patterns/.meta.md
  .claude/core/patterns/error-handling/.meta.md
  .claude/core/patterns/git-operations/.meta.md
  .claude/core/patterns/process-integration/.meta.md
  .claude/core/patterns/validation/.meta.md
Due: check-empty-files, validate-dependencies, enforce-naming, check-module-size, validate-frontmatter, security-scan

feat(patterns): implement error handling framework
  .claude/core/patterns/error-handling/base-error-handler.md
  .claude/core/patterns/error-handling/base-error-handler.sh
  .claude/core/patterns/error-handling/error-categories.yaml
  .claude/core/patterns/error-handling/git-errors.md
Due: check-empty-files, validate-dependencies, enforce-naming, check-module-size, validate-frontmatter, security-scan

feat(patterns): implement validation framework
  .claude/core/patterns/validation/base-validator.md
  .claude/core/patterns/validation/input-validator.md
Due: check-empty-files, validate-dependencies, enforce-naming, check-module-size, validate-frontmatter, security-scan

feat(patterns): implement process integration registry
  .claude/core/patterns/process-integration/dependency-resolver.md
  .claude/core/patterns/process-integration/process-executor.md
  .claude/core/patterns/process-integration/process-loader.md
  .claude/core/patterns/process-integration/process-registry.md
Due: check-empty-files, validate-dependencies, enforce-naming, check-module-size, validate-frontmatter, security-scan

feat(patterns): implement git operations library
  .claude/core/patterns/git-operations/branch-ops.md
  .claude/core/patterns/git-operations/commit-ops.md
  .claude/core/patterns/git-operations/repository-ops.md
  .claude/core/patterns/git-operations/status-ops.md
Due: check-empty-files, validate-dependencies, enforce-naming, check-module-size, validate-frontmatter, security-scan

Path conditions:
  check-empty-files: any of: \.claude/.*\.(md|yaml|yml)$
  validate-dependencies: any of: \.claude/.*\.md$
  enforce-naming: any of: \.claude/
  check-module-size: any of: \.claude/.*\.md$
  validate-frontmatter: any of: \.claude/.*\.md$
  security-scan: any of: \.claude/
